<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <title>Aggie Harmony</title>
    <link rel="stylesheet" type="text/css" href="css/home.css" />
    </head>
    <body>
        {% if current_user %}
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">

                    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <!-- Be sure to leave the brand out there if you want it shown -->
                    <a class="brand" href="/">AggieHarmony</a>

                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="http://graph.facebook.com/{{ current_user.id }}/picture?type=square"/>
                                {{ current_user.name|escape }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ current_user.profile_url }}">Profile</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>

                    <!-- Everything you want hidden at 940px or less, place within here -->
                    <div class="nav-collapse collapse">
                        <!-- .nav, .navbar-search, .navbar-form, etc -->
                    </div>

                </div>
            </div>
        </div>
        {% endif %}

        {% if not current_user %}
<!--div id="backstretch" style="left: 0px; top: 0px; position: fixed; overflow: hidden; z-index: -999999; margin: 0px; padding: 0px; height: 136px; width: 1073px;">
<img style="position: absolute; margin: 0px; padding: 0px; border: medium none; z-index: -999999; max-width: none; width: 1073px; height: 757.312px; left: 0px; top: -310.656px;" src="http://postimg.org/image/vd3mn1jd1/">
</div-->
        <div class="jumbotron">
            <h1 style="color:#500000">Aggie<span style="color:black">Harmony</span></h1>
            <p class="lead" style="color:black">A midnight yell dating site for aggies.</p>
            <a class="btn btn-large btn-custom-lighten" onclick="doLogin();return false;" href="#">Log in</a>
        </div>
        {% endif %}

        <div id="fb-root"></div>

        <script>
            window.fbAsyncInit = function() {
            FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true, xfbml: true});
            FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
            {% if current_user %} window.location = "/logout" {% else %} window.location.reload(); {% endif %}
            });
            };
            (function() {
            var e = document.createElement('script');
            e.type = 'text/javascript';
            e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
            e.async = true;
            document.getElementById('fb-root').appendChild(e);
            }());
            function doLogin() {  
                FB.login(function(response) {
                    if (response.session) {
                        FB.api('/me',  function(response) {
                            alert('Welcome ' + response.name);
                            alert('Full details: ' + JSON.stringify(response));
                        });
                    }
                } , {perms:''});
            }
        </script>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
